<?xml version="1.0" encoding="UTF-8"?>
<suite name="Sample Suite">
	<listeners>
		<listener class-name="listener.ListenerClass" />
	</listeners>
	<test name="Sample Test">
		<parameter name="browser" value="chrome" />
		<parameter name="url" value="https://www.amazon.in/" />
		<classes>
			<class name="test.ScenarioTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->